<!DOCTYPE html>

<!-- Es duenkelt mir, als waere Robin Ein Fgt. Kann das denn sein? :3 -->

<html>
<head>
	<title><%= R0z.config.title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<style type="text/css">
		body {
			background-color: #000000;
			margin: 0px;
			padding: 0px;
			color: #FFFFFF;
			height: 100%;
			width: 100%;
		}
		table {
			display:table;
			margin-right:auto;
			margin-left:auto;
			width:100%;
		}
		td {
			vertical-align: middle;
			text-align: center;
		}
		th {
			display: table-cell;
			vertical-align: inherit;
		}
		a{
			text-decoration: none;
			cursor: pointer;
			cursor: hand;
		}
		a:link {
			color: #FFFFFF;
		}
		a:visited {
			color: #FFFFFF;
		}
		a:hover {
			color: #7F7F7F;
		}
		a:active {
			color: #7F7F7F;
		}
		#flashDiv {
			background-color: orange;
		}

		#flashPanel {
		}
		#navigation {
			font-size: 30px;
			width: 100%;
			height: 40px;
			margin: 0px;
			padding: 0px;
		}
		#sourceTable {
			width: 70%;
			border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
			border: 1px solid #ffffff;
			height: 40px;
			padding-bottom: 5px;
		}
		#notFlash {
			width: 100%;
		}
		#exitFS {
			position: fixed;
			bottom: 0px;
			right: 0px;
			font-size: 20px;
			color: #000000;
			background: black;
			padding: 5px;
			display: none;
			background: black;
			background: rgba(255, 255, 255, .5);
		}
		#exitFS:hover {
			background: rgba(255, 255, 255, 1);
		}
		#links{
			font-family: Verdana;
			font-size: 12px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			display: block;
		}
		#disqus_thread{
			padding-top: 60px;
			width: 80%;
			margin: 0 auto;
		}
	</style>
	<script type="text/javascript">
		var flashID = <%= @flash.id %>;
		var maxID = httpGet("api/max");
		var fullscreenVar = false;
		var swfwidth = 600; 		// Flash dimensions muss man noch abfangen koennen
		var swfheight = 200;		// Also kuemmer dich darum ._.
		var swfSource = 'flash/' + flashID + '.swf'; 
		var restHeight = 170;

		function randomID(){
			return Math.floor((Math.random() * maxID));
		}

		// When Site has been loaded
		$(document).ready(function () {
			replaceElements(flashID);
			prepareComments();
			resizeAndPositionFlashPlayer();
			setLinks();
		});

		// @rob1nn: much compress, very wow
		function replaceElements(id){

			var swfSource = "flash/"+id+".swf";
			if (!fullscreenVar){
				$("#flashDiv").css("height", window.innerHeight - restHeight + "px");
			}
			$("#beispielsflash").html("FlashID is "+swfSource);
			$("#sourcevide").html(httpGet("api/source/video/"+id));
			$("#sourceaudi").html(httpGet("api/source/audio/"+id));
			$("#sourcefnam").html(httpGet("api/source/filename/"+id));
			$("#sourceuplo").html(httpGet("api/source/uploader/"+id));
			$("#sourcetags").html(httpGet("api/source/tags/"+id));
			document.title = "<%= R0z.config.title %> #"+id;
			resizeAndPositionFlashPlayer();
		}

		// Change CSS File @rob1nn: wtf? @Kyubey kommt noch mit der Zeit. Brauchen wir sobald es Profile gibt
		function changeCSS(cssFile, cssLinkIndex) {
			var oldlink = document.getElementsByTagName("link").item(cssLinkIndex);
			var newlink = document.createElement("link");
			newlink.setAttribute("rel", "stylesheet");
			newlink.setAttribute("type", "text/css");
			newlink.setAttribute("href", cssFile);
			document.getElementsByTagName("head").item(0).replaceChild(newlink, oldlink);
		}

		// Make Fullscreen
		function makeFullScreen(){

			fullscreenVar = true;

			document.getElementById('notFlash').style.display = "none";
			var el = document.documentElement, 
			rfs = el.requestFullScreen
			|| el.webkitRequestFullScreen
			|| el.mozRequestFullScreen;
			rfs.call(el);

			document.getElementById('exitFS').style.display = "inline";
			document.getElementById('flashDiv').style.height = "100%";
		}

		// Close Fullscreen
		function closeFullscreen(){

			fullscreenVar = false;

			if(document.exitFullscreen) {
				document.exitFullscreen();
			} else if(document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			} else if(document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			}

			document.getElementById('notFlash').style.display = "inline";
			document.getElementById('exitFS').style.display = "none";
			document.getElementById('flashDiv').style.height = window.innerHeight - restHeight + 'px';
		}

		// Resize Flash player and postition flash Player in the center
		function resizeAndPositionFlashPlayer(){
			// @rob1nn: ??

			flashbuehne = document.getElementById('flashDiv');
			platzY = flashbuehne.offsetHeight;
			platzX = flashbuehne.offsetWidth;
			flashDivVar = document.getElementById('FlashPanel');
			if ( (platzX / swfwidth) * swfheight <= platzY){
				// Nimmt jetzt volle Fensterbreite ein
				flashDivVar.style.width = platzX + "px";
				flashDivVar.style.height = ((platzX / swfwidth) * swfheight) + "px";

				document.getElementById('expander').style.height = Math.floor((platzY - ((platzX / swfwidth) * swfheight)) / 2 ) + "px";
			} else {
				// Nimmt jetzt volle Fensterhoehe ein
				flashDivVar.style.height = platzY + "px";
				flashDivVar.style.width = ((platzY / swfheight) * swfwidth) + "px";
				document.getElementById('expander').style.height = "0px";
			}

		}

		function goToAnotherFlash(destination, pre){
			// @Kyubey Fuer was das 'pre'?
			if (pre == true){
				if (destination == -1){
					if (flashID <= 0){
						window.history.pushState('page', 'flash', '/'+ maxID);
						flashID = maxID
					} else {
						flashID = flashID - 1;
						window.history.pushState('page', 'flash', '/'+ flashID);
					}
				} else if (destination == 0){
					flashID = randomID();
					window.history.pushState('page', 'flash', '/'+ flashID);
				} else if (destination == 1){
					if (flashID >= maxID){
						window.history.pushState('page', 'flash', '/'+ 0);
						flashID = 0
					} else {
						flashID = flashID + 1;
						window.history.pushState('page', 'flash', '/'+ flashID);
					}
				}
			} else {
				flashID = destination;
				if(isNaN(flashID))
					flashID = randomID();
				else if(flashID < 0)
					flashID = randomID();
				flashID = parseInt(flashID, 10);
				window.history.pushState("page", "flash", "/"+flashID)
			}
			/* Todo: Flash im plazer anpassen und neue groeße bekommen
			swfwidth = GetSwfWidth(); ... oder sowas halt ._.
			swfheight = " */
			replaceElements(flashID);
			setLinks();
			DISQUS.reset({
				reload: true,
				config: function(){
					this.page.identifier = flashID;
					this.page.url = "/"+flashID
				}
			});
			resizeAndPositionFlashPlayer()

		}

		function setLinks(){
			// Check if ID is 0 or lower
			if (flashID <= 0){
				document.getElementById('pre').href = maxID;
			} else {
				document.getElementById('pre').href = flashID - 1;
			}
			document.getElementById('ran').href = Math.floor((Math.random() * maxID));
			if (flashID >= maxID){
				document.getElementById('nex').href = 0;
			} else {
				document.getElementById('nex').href = flashID + 1;
			}
		}

		function httpGet(theUrl){
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", theUrl, false );
			xmlHttp.send( null );
			return xmlHttp.responseText;
		}

		window.onresize = function (event) {
			if (!fullscreenVar){
				document.getElementById('flashDiv').style.height = window.innerHeight - restHeight + 'px';
			} else {
				document.getElementById('flashDiv').style.height = window.innerHeight + 'px';
			}
			resizeAndPositionFlashPlayer()
		}

		// @rob1nn: Global disqus variables. Dont move into a function or it will break!
		var disqus_shortname = 'fusroga';
		var disqus_identifier = flashID;
		var disqus_url = '/'+flashID;

		function prepareComments(){
			$.ajaxSetup({ cache: true });
			$.getScript('http://fusroga.disqus.com/embed.js');
			$.ajaxSetup({ cache: false });
			// Load comment counter
			$.ajaxSetup({ cache: true });
			$.getScript('http://fusroga.disqus.com/count.js');
			$.ajaxSetup({ cache: false });
			// Hide disqus placeholder
			$('#disqus_thread').hide();
			// @rob1nn: This might be obsolete now
			$('#disqus_button').on('click', function() {
			});
		}
		
		// Display placeholder with a slide effect + change text of span 'disqus_button'
		function showComments() {
			if($('#disqus_button').text() == 'Show Comments')
				$('#disqus_button').text('Hide Comments');
			else
				$('#disqus_button').text('Show Comments');
		$('#disqus_thread').slideToggle(2000, function() {/*callback of slider*/});
		return false;
	}
	
	function p(){
		goToAnotherFlash(-1, true);
	}
	
	function n(){
		goToAnotherFlash(1, true);
	}

	function Mute(){
			// @rob1nn: todo!!!
	}

	var map = {77: false, 40: false, 37: false, 38: false, 39: false};
	$(document).keydown(function(e) {
		if (e.keyCode in map) {
			map[e.keyCode] = true;
			if (map[77]) {
				Mute();
			}
			if (map[37]) {
				p();
			}
			if (map[39]) {
				n();
			}
		}
	}).keyup(function(e) {
		if (e.keyCode in map)
			map[e.keyCode] = false;
	});

	</script>
</head>
<body>
	<div id="all">
		<!-- Where the Flash will be displayed -->
		<div id="flashDiv">
			<center>
				<div id="expander" style="background-color: green; height: 0px; width: 100%;">
				</div>
				<div id="FlashPanel">
					<!-- Flashplayer will be here -->
					<div id="beispielsflash" style="height: 100%; width: 100%; background-color: pink;">
					</div>

				</div>
			</center>
		</div>
	</div>

	<!-- Where navigation, source table, links and comments will be displayed -->
	<div id="notFlash">
		<center>
			<!-- Navigation -->
			<div id="navigation">
				<a id="pre" onclick="goToAnotherFlash(-1, true); return false;" >&#171; Previous</a> |
				<a id="ran" onclick="goToAnotherFlash(0, true); return false;" >Random</a> |
				<a id="nex" onclick="goToAnotherFlash(1, true); return false;" >Next &#187;</a>
			</div>

			<!-- Source Table -->
			<div id="sourceTable">
				<table>
					<tr>
						<td>Video</td>
						<td>Audio</td>
						<td>Filename</td>
						<td>Uploader</td>
						<td>Tags</td>
					</tr>
					<tr>
						<td><div id="sourcevide"></div></td>
						<td><div id="sourceaudi"></div></td>
						<td><div id="sourcefnam"></div></td>
						<td><div id="sourceuplo"></div></td>
						<td><div id="sourcetags"></div></td>
					</tr>
				</table>

			</div>
		</center>

		<!-- Links -->
		<div id="links">
			Follow r0z.biz on 
			<a href="//twitter.com/fusroga">Twitter</a> |
			<a href="//www.facebook.com/fusroga">Facebook</a> |
			<a href="//plus.google.com/104078984544111325800/posts">Google+</a><br>
			Quick Links:
			<a href="info">Info</a> |
			<a onclick="soon('tm')">Upload</a> |
			<a onclick="soon('tm')">Source Index</a> |
			<a href="skype:?chat&amp;blob=9WOGcGxyrhgC4uxUhVa9VNEifOA3M0lrZrL8gbHJptvlllaR9Zk7imrRMknUt39MKyoVFuynfAz3MunAx8N35XUmqa0xRZ4a6b6QaXuMqgIiwSz333fFbQmqQPPhAb27VokrBZD47gSsiL8iYl16TNbqwXArvLpIKvy3utRuSq9qPYhnNCf95oA5zHC6IpbwjMyK6l-ZAAn-ly2b0PAOpPTMQI36UBzImGo">Skype</a><br>
			Functions: 
			<a onclick="muteFlash()" id="muteFlash">Mute Flash</a> |
			<a onclick="makeFullScreen()" id="makeFullScreen">Fullscreen</a> |
			<a onclick="soon('tm')" id="profile">Profile</a>
		</div>

		<!-- Comments -->
		<center>
			<div id="comments">
				<a onclick="showComments()" id="disqus_button">Show Comments</a>
			</div>
			<div id="disqus_thread"></div>
		</center>
	</div>

	<a onclick="return false;">
		<div id="exitFS" onclick="closeFullscreen()" >
			Exit Fullscreen
		</div>
	</a>
</body>
</html>